* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(250, 252, 226);
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}
